[Unit]
Description=Firefox Web-Browser

After=multi-user.target network.target network-online.target openbox.service

[Service]
ExecStart=/usr/bin/firefox --display=:0 https://startpage.com
Restart=always
User=liveuser

[Install]
WantedBy=multi-user.target

